@import url("general.css");

body{
    background-color: pink;
    
}



.images{
    /*margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;*/
    display: flex;
    /*display: block;*/
    margin: 50px auto;
    align-items: center;
    width: 90%;
    
}

.article {
    background-color: lightcoral;
    /*float: left;*/
   /* width: 30%;*/
   flex-basis: 30%;
   flex-grow: 1;
    margin: 30px ;
    padding: 30px;
    border-radius: 15px;
    height: 10%;
    box-shadow:  0 0 10px 20px lightgray ;

}

#im1,
#im2,
#im3{
    float: left;
    border-radius: 78%;
    width: 200px;
    height: 200px;
    margin: 0 30px 20px  0px;
    shape-outside: circle();
}





.picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: #f5f5f5;
    text-decoration: none;
    width: 50%;
    padding: 10px 22px;
    border: none;
    font-size: 1em; 
    color: pink;
   /* text-align: center;*/
    border-radius:10px ;
    /*align-self: self-end;*/
    margin: 3% auto 0 auto;
   
}

.picture:hover{
    color: whitesmoke;
    background-color: lightgray;
}

#compter{
    margin: 0 auto;
    text-align: center;
    width: 15%;
    background-color:lightcoral;
    border-radius: 24px;
    color: aliceblue;


}

section {
    display: flex;
    justify-content: space-around;
}

.boite1,
.boite2,
.boite3 {
    width: 400px;
    height: auto;
    padding: 3px;
}

.texte {
    font-size: 14px;
  }
  
  .plus-texte {
    display: none;
  }
  
  .texte.voirplus .plus-texte {
    display: inline;
    height: auto;
  }
  .texte.voirplus .fin {
    display: none;
  }
  
  .bouton-lire-plus {
    /*https://developer.mozilla.org/fr/docs/Web/CSS/cursor*/
    cursor: pointer;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 15px 60px;
  }

 