@import url("general.css");

body{
    background-color: pink;
}

form{

    background-color: papayawhip;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-top: 20px;
    box-shadow:  0 0 10px 20px lightgray ;
    margin: 50px auto;
}

.container{
    margin: 0 auto;
    width: 30%;
}

input[type="text"],
input[type="email"]{
    width: 75%;
    height: 20px;
    border: 0;
    background-color: cyan;
    border-radius: 15px;
}
input[type="text"]:hover,
input[type="email"]:hover{
    background-color: cyan;    
}
input[type="text"]:focus,
input[type="email"]:focus{
    outline: none;    
}

select{
    width: 50%;
    height: 20px;
    border: 0;
    background-color: cyan;
    border-radius: 25px;
} 
.input-container{
    text-align: center;
    margin: 1em;
}

.email{
    padding-left: 20px;
    background-position: 5px;
}

.nom{
    padding-left: 20px;
    background-position: 5px;
}


input[type="submit"]{
    padding: 12px;
    border-radius: 50px;
    background-color:cyan ;
    border: 0;
}
input[type="submit"]:hover{
    background-color: #333;
   
}
textarea{
    background-color: aqua;
    padding-left: 20px;
    background-position: 5px;
}


.erreur {
    color: red;
}

.invalide{
    border: 2px solid red !important;
    background-color: lightsalmon !important;
}

.valide{
    border: 2px solid green !important;
    background-color: whitesmoke !important; 
}

.label {
    color: red;
}

.labelOk {
    color: green;
}
