@import url("general.css");

body{
    background-color: pink;
}





.images{
    /*margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;*/
    flex-direction: column;
    /*display: block;*/
    margin: 50px auto;
    align-items: center;
    width: 30%;
    display: flex;
}

.outil {
    background-color: lightcoral;
    /*float: left;*/
   /* width: 30%;*/
   flex-basis: 30%;
   flex-grow: 1;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    height: 10%;
    box-shadow:  0 0 10px 20px lightgray ;

}


#enf1,
#enf2,
#enf3{
    float: initial;
    
    width: 300px;
    height: 300px;
    margin: 0 100px;
    
    
}