@import url("general.css");

body{
    background-color: pink;
}

table{
    border-spacing: 0;
    margin: 0 auto;
    width: 50%;
    border-bottom: 200px;
    margin-bottom: 100px;
    /*margin-top: 20px;*/
    box-shadow:  0 0 10px 20px lightgray ;
  
}

th,
td{
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

th{
    background-color: cyan;
}


td{
    background-color: papayawhip;
}

caption{
    font: 4em;
    letter-spacing: 6px;
    font-weight: bold;
}
/*body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }*/
  
 /*.accueil {
    background: url("images/jewelry-t.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
  }*/
  
  
  
  .section{
    height: 100vh;
    width: 100%;
    position: relative;
  
  }
  .s1 {
    background: url("../images/header1.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
  }
  .s2 {
    background: url("../images/jewelry-t.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
  }
  .s3 {
    background: url("../images/header.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
  }
  .s4 {
    background: url("../images/ens.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
  }
  .s5 {
    background: url("../images/bijouxcc.jpg");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
  }

  
  .blocTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
  
  